/********** Template CSS **********/
:root {
    --primary: #f69050;
    --light: #F0FBFC;
    --light: #f0e4de;
    --dark: #181d38;
}

.btn {
    background-color: #fb873f;
    border: none;
}

.btn a {
    text-decoration: none;
    color: #fff;
}

.btn:hover {
    background: transparent;
    color: var(--primary) !important;
    border: 1px solid var(--primary);
}

.btn:hover a {
    color: var(--primary) !important;
}

.btn-light {
    background-color: var(--light);
}

.btn-light:hover {
    background: transparent;
    color: var(--light) !important;
    border: 1px solid var(--light);
}

.fw-medium {
    font-weight: 600 !important;
}

.fw-semi-bold {
    font-weight: 700 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    left: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 0px;
}

/*** Team ***/
.team-item img {
    transition: .5s;
}

.team-item:hover img {
    transform: scale(1.1);
}

